{% extends "product/layout.html.twig"%}
{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>List Product</h1>
            </div>
        </div>
    </div>
{% endblock %}