{% extends 'frontend/layout.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Pagina HOME</h1>
                <br>
                <a href="{{ path("login") }}">Login</a>
            </div>
        </div>
    </div>
{% endblock %}
